@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 247 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 247 20% 15%;
    --primary: 210 76% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196.9 39% 51.8%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 50 100% 70%;
    --accent-foreground: 247 20% 15%;
    --destructive: 9 58% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --recording: 9 58% 64%;
    --recording-foreground: 0 0% 100%;
    --success: 134 61% 41%;
    --success-foreground: 0 0% 100%;
    --warning: 50 100% 70%;
    --warning-foreground: 247 20% 15%;
    --radius: 0.75rem;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground font-opensans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins font-extrabold;
  }
}